.main-app {
    text-align: center;
    margin: 100px;
}
/*.create-operations{*/
/*    vertical-align: top;*/
/*    text-align: left;*/
/*}*/
/*.read-operations{*/
/*    vertical-align: top;*/
/*    text-align: right;*/
/*}*/
/*.delete-operations{*/
/*    vertical-align: bottom;*/
/*    text-align: left;*/
/*}*/

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}

.create-button {
    background: #ffa500;
}
.read-button {
    background: #a00197;
}
.delete-button {
    background: #ff0000;
}
.mint-nft-button{
    background: #ffa500;
}
.approve-button{
    background: #07ff00;
}
.disapprove-button{
    background: #ff0000;
}
/*table {*/
/*    display: table;*/
/*}*/
/*table tr {*/
/*    display: table-cell;*/
/*}*/
/*table tr td {*/
/*    display: block;*/
/*}*/